.THIS.lt-section {
    margin-top: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.THIS.lt-section>.lt-section-header
.lt-section-header_nubbin {
    transition: transform 0.3s;
}