.THIS.lt-section {
    margin-top: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
}
.THIS.lt-section>.lt-section-header
.lt-section-header_nubbin {
    transition: transform 0.3s;
}
.THIS.lt-section.lt-section-expanded>.lt-section-content {
    animation-name: slide-section-content;
    animation-duration: 0.6s;
}
.THIS.lt-section.lt-section-expanded>.lt-section-content>.lt-section-content_body {
    animation-name: slide-section-content_body;
    animation-duration: 0.5s;
}
@keyframes slide-section-content {
    from {
        overflow: hidden;
    }
    99% {
        overflow: hidden;
    }
    to {
        overflow: visible;
    }
}
@keyframes slide-section-content_body {
    from {
        opacity: 0;
        transform: translateY(-5rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}