.THIS.lt-scroller {
    overflow: hidden;
}
.THIS.lt-scroller.lt-scroller-transform {
    transform: translateZ(0);
}
.THIS.lt-scroller.lt-scroller-direction_horizontal,
.THIS.lt-scroller.lt-scroller-direction_both {
    overflow-x: auto;
}
.THIS.lt-scroller.lt-scroller-direction_vertical,
.THIS.lt-scroller.lt-scroller-direction_both {
    overflow-y: auto;
}