.THIS {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.THIS
.slds-textarea {
    height: 20rem;
}
.THIS
.label-hidden
.slds-form-element__label {
    display: none;
}